# App
app/build/*

# LaTeX
report/*.aux
report/*.glo
report/*.idx
report/*.log
report/*.toc
report/*.ist
report/*.acn
report/*.acr
report/*.alg
report/*.bbl
report/*.blg
report/*.dvi
report/*.glg
report/*.gls
report/*.ilg
report/*.ind
report/*.lof
report/*.lot
report/*.maf
report/*.mtc
report/*.mtc1
report/*.out
report/*.synctex.gz

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
