# App
app/build/*
app/CMakeLists.txt.user
build*
out.avi
in*.mp4
log.csv
*.autosave

# Trainer
outputs

# Notebooks
*checkpoint.ipynb

# Krita
*.kra~
*.png~
*autosave.kra

# macOS
.DS_Store

# Vim
*.swp

# LaTeX
*pytxcode
*.nav
*.snm
*.bcf
*.xml
*.pdf
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/data
